
p {
    margin-top: 0px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  }

form{
    margin-top: 5em;
}
   
  fieldset {
    margin: 15px;
    padding: 10px;
  }
   
  legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 25px;
  }
   
  label {
    width: 140px;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    font-size: 20px;
  }
   
  em {
    font-weight: bold;
    font-style: normal;
    color: black;
  }
   
  input:focus {
    background: #f5ac4e;
  }
   
  input, textarea, select {
    width: 250px;
    height: 30px;
    color: rgb(3, 18, 105);
    font-weight: bold;
    font-size: 20px;
  }
   
  textarea {
    width: 500px;  
    height: 100px;
  }
   
   
  input[type=checkbox] {
    width: 10px;
  }
   
  input[type=submit] {
    width: 150px;
    height:50px;
    padding: 10px;
    color:black;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  option {
    color: black;
  }